body{
    background-color: white;
}
.navi {
    width: 100%;
    position: relative;
    background-color: #AF1B3F;
    color: white;
}
.navi a {
    color: white;
    font-style: normal;
}
.navi a:hover{
    font-size: 20px;
    color: black;
}
.navi ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.navi ul li{
    padding-left: 4%;
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 2%;
    text-align: center;
}
.navi ul img {
    height: 55px;
    width: 50px;
    padding-top: 1%;
}
.navi ul h3 {
    padding-top: 1%;
}
.design{
    position: absolute;
    left: -3%;
    width: 110%;
    height: 500px;
    border: black solid 1px;
    overflow: hidden;
    background-color: black;
    -webkit-mask-image:url(../media/shirt-removebg-preview.png);
    mask-image : url(../media/shirt-removebg-preview.png);
    mask-position: center;
    mask-repeat: repeat;
    mask-size: contain;
}
.shirt{
    padding: 3%;
}
.shirt input{
    padding: 20px;
}
.input{
    display: none;
    width: 96%;
}
.instruction{
    width: 60%;
    padding: 5%;
}
.con {
    background-color:lightgray;
    height: 500px;
    border-radius: 1.25rem;
    width: 78%;
    position: relative;
    left: 8%;
    overflow: hidden;
   
}
@media (min-width:720px) {
    .con{
        width: 38%;
        left: 30%;
    }
    .navi ul li{
        padding-left: 1%;
    }

    
}
.price{
    text-align: center;
}
.price button{
    border-radius: 1.25rem;
    color: magenta;
}
.cost{
    font-size: 30px;
    color: magenta;
}
footer{
    width:100%;
    background-color:#121619;
    color:#fff;
    }
.top_header{
    padding:2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    }
    .top_header section{
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        }
        
        .top_header span{
        padding:0 1rem;
        }
        
        .top_header .fa{
        color:#ffbe00;
        font-size:35px;
        }
        
        footer .border-shape {
        width: 40%;
        }
        
        footer .border-shape::before {
        width: 100%;
        left:120px;
        }
        
        footer .border-shape::after {
        width: 100%;
        right:120px;
        }
        
        footer .bottom_content section{
        padding:1.5rem 2rem;
        display:flex;
        align-items:center;
        justify-content:Center;
        }
                